<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfiguration" type="FileService.Configuration.ServiceConfigurationSection, FileService"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <serviceConfiguration>
    <culture type="en-US"/>
    <folders>
      <folder path="D:\Downloads\"/>
    </folders>
    <defaultFolder path ="D:\trash\"></defaultFolder>
    <rules>
      <rule pattern="net" destinationFolder="D:\trash\trash_net\" addOrder="true" addDate="true"/>
      <rule pattern=".txt$" destinationFolder="D:\trash\trash_txt" addOrder="true" addDate="false"/>
      <rule pattern=".bmp$" destinationFolder="D:\trash\trash_bmp" addOrder="false" addDate="false"/>
    </rules>
  </serviceConfiguration>
</configuration>